.button {
    margin: 0 0 0 .5em;
    height: 1.5em;
    font-size: medium;
}

#search {
    width: 100%;
    height: 2em;
}

.source-code {
    white-space: nowrap;  overflow: auto;

    width: calc(100% - (2 * 0.25em));
    height: calc(100vh - 6.5em);

    font-family: Lucida Console, Courier, monospace;
    font-size: medium;

    /* Without padding, one cannot see the cursor flash in the leftmost column */
    padding: 0.25em;

    /*
    TODO: Night mode doesn't work well on OSX - mouse cursor is almost invisible

    background-color: rgb(64, 64, 64);
    color: white;
    */

    resize: none;
}

#bottom_content {
    width: 100%;
    height: 2em;

    margin-top: 0.5em;
    margin-bottom: 0;
    padding: 0;
}

#select_class_label {
    margin-left: 1em;
}

#select_method_label {
    margin-left: 0.25em;
}

#select_function_label {
    margin-left: 1em;
}

#go_to_line_number_span {
    margin-right: 1em;
    margin-left: 1em;
}

#go_to_line_number {
    width: 5em;
}

#match_case {
    margin-left: 1em;
    margin-right: 0.25em;
}

#action_buttons {
    margin-left: 1em;
}

#cursor_position {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 0.25em;
}

#cursor_position_container {
    display: inline-block;
    width: 6em;
}

#cancel {
    margin-left: 1em;
}