#textbox {
    width: calc(100vw - 1.5em);
    font-family: Lucida Console, Courier, monospace;
    font-size: medium;
}

#dropdown {
    width: 20em;
    font-family: Lucida Console, Courier, monospace;
    font-size: medium;
}

#button_table {
    margin-top: 1em;
}

.button {
    margin: 0 0 0 .5em;
    font-size: .8em;
    line-height: 1em;
    padding: .6em 1em;

    -webkit-user-select:none;
}

#prompt_label {
    -webkit-user-select:none;
}