input {
    font-family: Lucida Console, Courier, monospace;
    font-size: large;
}

button {
    margin-top: 2em;

    width: 10em;
    height: 1.5em;
    font-family: Lucida Console, Courier, monospace;
    font-size: medium;

    -webkit-user-select:none;
}

th {
    background-color: lightgrey;
}

*
{
    -webkit-user-select:none;
}
